
{% extends "base.html" %}
{% block title %}
    DJ Cell Phone Store
{% endblock %}
{% block content %}
    <div class="container" align=center>
    <!--Here -->
    {% for p in products %}
    {% if forloop.first %}
        <table>
            <tr bgcolor="#cccccccc">
                <td width=250>Inventory Phone</td>
                <td width=250>Brand Name</td>
                <td width=150>Product Year</td>
                <td>Price</td>
            </tr>
    {% endif %}
        <tr bgcolor="{% cycle "#ffccff" "ccffcc" %}">
            <td><a href='{% url "detail-url" p.id %}' >{{ p.nickname }}</a></td>
            <td>{{ p.pmodel.maker.name }}/{{ p.pmodel }}</td>
            <td>{{ p.year }}</td>
            <td align="right">{{ p.price }}</td>
        </tr>


    {% if forloop.last %}
    </table>
    {% endif %}
{#    {% emtpy %}#}
{#    <h3> Do not have phone</h3>#}
    {% endfor %}
    </div>

{% endblock %}